.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 293px;
  padding: 50px;
  font-size: 18px;
  line-height: 21px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  color: #000000;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin-left: 47px;
}

.header__logo-image {
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.3;
}

.header__address {
  width: 240px;
}

.cover {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000060;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  padding: 165px 20px 0px 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 0.85em;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  padding: 10px 31px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ffffff00;
  cursor: pointer;
}

.lots {
  width: 100%;
  height: auto;
  margin-top: 180px;
  padding: 0px 24px;
}

.lots__heading {
  width: 100%;
  height: auto;
  padding: 0px 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
  height: auto;
  margin-top: 26px;
}

.lots__card-list-item {
  display: block;
  width: 100%;
  height: auto;
  list-style-type: none;
}

.card-link {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  padding: 48px 40px 0px 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0px 40px 48px 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 34px;
  padding: 0px 40px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.about {
  display: flex;
  gap: 50px;
  width: 100%;
  margin-top: 119px;
  padding: 35px 24px 0px 71px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__column {
  padding-top: 100px;
  padding-left: 23px;
}

.about__title {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 688px;
  padding-top: 100px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 180px;
  padding: 0px 50px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.footer-address {
  width: 260px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin-left: 166px;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  margin-left: 185px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}
