.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 293px;
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.navigation {
  display: flex;
  gap: 32px;
  color: #000000;
  list-style-type: circle;
}

.nav-first {
  list-style-type: none;
}

.logo-black {
  width: 135px;
  margin-left: -145px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  height: 98px;
}

.cover {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 757px;
  background-color: #00000060;
}

.title {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  padding: 165px 20px 0px 50px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 75px 50px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 47px;
  text-transform: uppercase;
}

.cover .first {
  align-self: flex-start;
}

.cover .second {
  align-self: center;
}

.cover .third {
  align-self: flex-end;
}

.description p {
  display: block;
  word-spacing: 19px;
}

.button {
  border: 1px solid #FFFFFF;
  padding: 10px 31px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ffffff00;
}

.cover-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.lots {
  width: 1052px;
  height: auto;
  margin: 180px 24px 0px 24px;
}

.lots-title {
  padding: 0px 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
  width: 100%;
  height: 596px;
  margin-top: 27px;
  text-align: center;
  list-style-type: none;
}

.lot-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.lot-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  text-align: left;
}

.lot-content a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lot-content p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lot-other-link {
  display: block;
  margin: 32px 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.about {
  display: flex;
  gap: 50px;
  width: 1052px;
  height: 595px;
  margin: 120px 24px 0px 24px;
  padding-top: 35px;
  padding-left: 47px;
}

.logo-white {
  width: 240px;
  height: 240px;
  border-radius: 180px;
  padding: 64px 46px;
  background-color: #000000;
}

.logo-white img {
  width: 148px;
}

.about-description {
  padding-top: 100px;
  padding-left: 23px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 688px;
  padding-top: 100px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: flex;
  width: 100%;
  height: 180px;
  margin-top: 180px;
  padding: 0px 50px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.footer address {
  width: 265px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  margin-left: 161px;
  text-align: center;
}

.nav-footer li {
  list-style-type: none;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  margin-left: 185px;
}

.social-link {
  width: 48px;
  height: 48px;
  list-style-type: none;
}